manifest {
    name            = 'nf-SearchEngine'
    author          = """Jose Rodríguez"""
    homePage        = 'https://github.com/CNIC-Proteomics/nf-SearchEngine'
    description     = """nf-SearchEngine is a Nextflow pipeline that that execute the MSFragger search engine for the peptide identification."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.1'
    version         = '0.1.0'
    doi             = ''
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all modules
----------------------------------------------------------------------------------------
*/

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load module config for default modules parameters.
includeConfig 'conf/modules.config'

