/*
========================================================================================
    Define the container for the modules
========================================================================================
----------------------------------------------------------------------------------------
*/

process {
    //
    // Modules
    //
    withName: 'SEARCH_ENGINE_WORKFLOW:.*' {
        container = "backends/search_engine.sif"
    }
}


/*
========================================================================================
    Load module config for default modules parameters
========================================================================================
----------------------------------------------------------------------------------------
*/

// Export these environment variables.
env {
    //
    // Home paths of module programs
    //
    BIODATAHUB_HOME           = "/opt/search_engine/biodatahub"
    THERMORAWFILEPARSER_HOME  = "/opt/search_engine/thermorawfileparser"    
    MSFRAGGER_HOME            = "/opt/search_engine/msfragger"
    MZEXTRACTOR_HOME          = "/opt/search_engine/mzextractor"
    REFRAG_HOME               = "/opt/ptm-compass/refrag"
    PROTEIN_ASSIGNER_HOME     = "/opt/ptm-compass/shifts"
    SHIFTS_HOME               = "/opt/ptm-compass/shifts"
    SOLVER_HOME               = "/opt/ptm-compass/solver"
}

// Specific parameters needed by the pipeline, must be loaded for correct execution.
includeConfig "${projectDir}/params/fixed_params.params"