/*
========================================================================================
    Define the container for the modules
========================================================================================
----------------------------------------------------------------------------------------
*/

process {
    //
    // Modules
    //
    withName: 'SEARCH_ENGINE_WORKFLOW:.*' {
        container = "backends/search_engine.sif"
    }
    //
    // Minimal input file metadata (name and size only) are included in the cache keys.
    //
    cache = 'lenient'
    //
    // Control Task Parallelism Dynamically
    //
    withName: 'THERMO_RAW_PARSER' {
        maxForks = 3
    }
}


/*
========================================================================================
    Load module config for default modules parameters
========================================================================================
----------------------------------------------------------------------------------------
*/

// Export these environment variables.
env {
    //
    // Home paths of module programs
    //
    BIODATAHUB_HOME           = "/opt/search_engine/biodatahub"
    THERMORAWFILEPARSER_HOME  = "/opt/search_engine/thermorawfileparser"    
    MSFRAGGER_HOME            = "/opt/search_engine/msfragger"
    SEARCHTOOLKIT_HOME        = "/opt/search_engine/searchtoolkit"
    REFMOD_HOME               = "/opt/ptm-compass/refmod"
    PTMCOMPASS_HOME           = "/opt/ptm-compass"
    PTMTOOLS_HOME             = "/opt/ptm-compass/src/tools"
    SHIFTS_HOME               = "/opt/ptm-compass/src/shifts"
    SOLVER_HOME               = "/opt/ptm-compass/src/solver"
}

// Specific parameters needed by the pipeline, must be loaded for correct execution.
includeConfig "${projectDir}/conf/params/fixed_params.params"