/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
----------------------------------------------------------------------------------------
*/


process {

    //
    // Publish Directory
    //
    publishDir  = [
        path: { 
            if ( task.tag ) { "${params.outdir}/modules/${task.process.tokenize(':')[-3].toLowerCase()}/${task.tag}_${task.process.tokenize(':')[-2].toLowerCase()}" }
            else { "${params.outdir}/modules/${task.process.tokenize(':')[-3].toLowerCase()}/${task.process.tokenize(':')[-2].toLowerCase()}" }
        },
        mode: params.publish_dir_mode,
        //overwrite: true,
        saveAs: { filename ->
            if (filename.indexOf(".log") > 0) { "../../../logs/${filename}" }
            else if (filename.indexOf("_log.txt") > 0) { "../../../logs/${task.process.tokenize(':')[-2].toLowerCase()}#${filename.replace('_log.txt','')}.log" }
            else { filename }
        }
    ]

}
